{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Modification d'une catégorie {% endblock %}

{% block content %} 
    <div class="container">
        <p id="index-title">Modification d'une catégorie</p> 


        <div id="index-content"> 

            {% if form.category is defined %} 
                {% if form.category != null %}   

                    <div class="panel-body">
                        <form  onsubmit=" return confirm('Acceptez-vous ces modifications ?');" class="form-signin" action="index.php?page=categorymodify" method="post" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" id="idCategory" name="idCategory" value="{{form.category.idCategory}}"/> 

                            <label for="inputLabelCategory" class="sr-only">Libellé:</label>
                            <input type="text" id="inputLabelCategory" name="inputLabelCategory" class="form-control" placeholder="Saisir le libellé" value="{{form.category.labelCategory}}" required autofocus>


                            <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModify">Modifier</button>
                        </form>
                    </div> 
                {% else %}  
                    {% if form.valide == true %}
                        <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
                        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=firm" class="violet">Retourner sur la liste des contacts</a></h1>
                    {% else %}    
                        <h1 class="alert alert-info" role="alert">{{ form.message }}</h1> 
                        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=firm" class="violet">Retourner sur la liste des contacts</a></h1>
                    {% endif %} 
                {% endif %} 
            {% else %} 
                <h1 class="alert alert-info" role="alert">{{ form.message }}</h1> 
                <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=firm" class="violet">Retourner sur la liste des contacts</a></h1>

            {% endif %}
        </div>
    </div>

{% endblock %} 
