{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Modification d'un faq {% endblock %}

{% block content %} 
    <div class="container">
        <p id="index-title">Modification d'un faq</p> 


        <div id="index-content"> 

            {% if form.faq is defined %} 
                {% if form.faq != null %}   

                    <div class="panel-body">
                        <form  onsubmit=" return confirm('Acceptez-vous ces modifications ?');" class="form-signin" action="index.php?page=faqmodify" method="post" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" id="idFaq" name="idFaq" value="{{form.faq.idFaq}}"/> 

                            <label for="inputTitleFaq" class="sr-only">Titre:</label>
                            <input type="text" id="inputTitleFaq" name="inputTitleFaq" class="form-control" placeholder="Saisir le question" value="{{form.faq.titleFaq}}" required autofocus>

                            <label for="inputAnswerFaq" class="sr-only">Nom:</label>
                            <input type="text" id="inputAnswerFaq" name="inputAnswerFaq" class="form-control" placeholder="Saisir la réponse" value="{{form.faq.answerFaq}}" required >

                            <label for="inputIdCategory" class="sr-only">Contact:</label>
                            <select name="inputIdCategory" class="form-control">
                                <option value="{{ form.faq.idCategory }}">{{form.faq.labelCategory}}</option>
                                {% for c in listeC %}
                                    <option value="{{ c.idCategory }}">{{c.labelCategory}}</option> 
                                {% endfor%}    
                            </select>    


                            <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModify">Modifier</button>
                        </form>
                    </div> 
                {% else %} 
                    {% if form.valide == true %}
                        <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
                        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=faq_list" class="violet">Retourner sur la liste des faqs</a></h1>
                    {% else %}    
                        <h1 class="alert alert-info" role="alert">{{ form.message }}</h1> 
                        <h1 class="h3 mb-3 font-weight-normal"><a href=href="index.php?page=faq_list" class="violet">Retourner sur la liste des faqs{{form.faq.labelCategory}}</a></h1>
                    {% endif %} 
                {% endif %} 
            {% else %} 
                <h1 class="alert alert-info" role="alert">{{ form.message }}</h1> 
                <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=faq_list" class="violet">Retourner sur la liste des faqs{{form.faq.labelCategory}}</a></h1>

            {% endif %}
        </div>
    </div>

{% endblock %} 
